#shortcut {
  width: 478px;
  height: 30px;
  display: flex;
  gap: 20px; /* space between h3 elements */
  overflow-x: auto; /* enables horizontal scrolling */
  overflow-y: hidden;
  white-space: nowrap; /* keeps content in one line */
  scrollbar-width:none; /* optional: slim scrollbar */
  padding: 5px;
  background-color: #f2f9f1;
  margin-left: 135px;
}



h3{
   margin-top: 3px;
}